<div id="<%= dom_id empregador %>">
  <p>
    <strong>Nome:</strong>
    <%= empregador.nome %>
  </p>

  <p>
    <strong>Empresa:</strong>
    <%= empregador.nomeEmpresa %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= empregador.email %>
  </p>

  <p>
    <strong>CNPJ:</strong>
    <%= empregador.cnpj %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= empregador.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= empregador.telefone %>
  </p>

</div>
