<p style="color: green"><%= notice %></p>

<h1>Vagas</h1>
<% if @empregador %>
  <h3><%= @empregador.nomeEmpresa %></h3>
  <%= link_to "Adicionar vaga", new_empregador_vaga_path %>
<% elsif @candidato %>
  <h3><%= @candidato.nome %></h3>
<% end %>

<div id="vagas">
  <% @vagas.each do |vaga| %>
    <div class="item_lista" id="<%= dom_id vaga %>">
      <p>
        <strong>Título:</strong> <%= vaga.titulo %> |
        <strong>Salário:</strong> R$ <%= '%.2f' % vaga.salario %>
        <% unless @empregador %>
          <br><strong>Empresa:</strong> <%= vaga.empregador.nomeEmpresa %>
        <% end %>
      </p>
      <% if @empregador %> 
        <p>
          <%= link_to "Ver", empregador_vaga_path(@empregador, vaga) %> |
          <%= link_to "Candidaturas", empregador_vaga_candidaturas_path(@empregador, vaga) %>
        </p>
      <% elsif @candidato %>
        <p>
          <%= link_to "Candidatar-se", candidato_vaga_new_candidatura_path(@candidato, vaga) %>
        </p>
      <% else %>
        <p>
          <%= link_to "Ver", vaga %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if @candidato %>
    <%= link_to "Voltar", candidato_candidaturas_path(@candidato) %>
  <% elsif @empregador %>
    <%= link_to "Voltar", empregadores_path %>
  <% end %>
</div>
