<div id="<%= dom_id candidato %>">
  <p>
    <strong>Nome:</strong>
    <%= candidato.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= candidato.email %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= candidato.cpf %>
  </p>

  <p>
    <strong>Datanascimento:</strong>
    <%= candidato.dataNascimento %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= candidato.telefone %>
  </p>

</div>
